

body, html {

  width: 100%;
  margin: 0;
}

header {
  width: inherit;
  height: 100%;
}
/*logo*/
.header img {
background-image: url("images/Logo.png")
    background-attachment: fixed;
    float: center;
    width: 200px;
    height: 200px;
      background-repeat: no-repeat;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header h1 {
  position: relative;
  top: 10px;
  left: 10px;
}
/*ScrollMenu CSS*/
div.scrollmenu {
  background-color: #BC8F8F;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #BC8F8F;
}

/*Background Color for webpage*/
body {
  background-color: ;
}

/* Grid for Section for outfits */

main {
  padding-left: 25%;
}

#Outfit_Inspiration {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
}


.box1 {
  grid-column-start: span 2;
}

.box2 > img {
  width: 100%;
}
.box3 {
  width: 100%
}
