

body, html {

  width: 100%;
  margin: 0;
}

header {
  width: inherit;
  height: 100%;
}

.header img {
background-image: url("images/Logo.png")
    background-attachment: fixed;
    float: center;
    width: 200px;
    height: 200px;
      background-repeat: no-repeat;
  ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header h1 {
  position: relative;
  top: 10px;
  left: 10px;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


header >.hero-image {
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header > .fashion {
  background-image:
  url("images/Fashion.jpg");
  height: 75%;
}

header > .quotes {
  background-image:
  url("images/quotes.jpg");
  height: 75%;
}

header > .food {
  background-image:
  url("images/Food.jpg");
  height: 75%;
}


  header >
.Quotes, .Fashion,  .Food{
  color:
  text-align: left;
  position: absolute;
  transform: translate(-50%,-50%;);
  top: 50%;
  left: 20%;
  font-size:56px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 35%;
  padding: 0 4px;
}
.column img {
  margin-top: 30px;
  vertical-align: middle;
}

.Quotes{
  color: black;
  }



.Fashion {
  color: mediumseagreen;

}

.Food {
  color: black;
}

a:link {
  color: black;
  background-color: none;
  text-decoration: none;
}

/* Grid for Section for outfits */

main {
  margin: 20px;
}

#Outfit_Inspiration {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
}
#

.box1 {
  grid-column-start: span 2;
}

.box2 > img {
  width: 100%;
}
